# Assignment 4 Questions

## Problem Statement

Q.1 Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving average of
the given sequence is defined as follows:

The moving average sequence has n-k+1 elements as shown below.
The moving averages with k=4 of a ten-value sequence (n=10) is shown below

    i 1 2 3 4 5 6 7 8 9 10
    ===== == == == == == == == == == ==
    Input 10 20 30 40 50 60 70 80 90 100
    y1 25 = (10+20+30+40)/4
    y2 35 = (20+30+40+50)/4
    y3 45 = (30+40+50+60)/4
    y4 55 = (40+50+60+70)/4
    y5 65 = (50+60+70+80)/4
    y6 75 = (60+70+80+90)/4
    y7 85 = (70+80+90+100)/4

Thus, the moving average sequence has n-k+1=10-4+1=7 values.

Write a function to find moving average in an array over a window:

Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [1]:
import numpy as np
def moving_average(a, n):
  asum = np.cumsum(a, dtype=float)
  asum[n:] = asum[n:] - asum[:-n]
  return asum[n - 1:] / n

a = [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
n = 3
np.array(moving_average(a, n)).round(2)

array([  5.  ,   4.67,   5.67,   6.67,   9.67,  28.67,  49.33,  72.67,
        84.  ,  93.33, 116.33])

Q.2 How-to-count-distance-to-the-previous-zero
For each value, count the difference back to the previous zero (or the start of the Series,
whichever is closer)
create a new column 'Y'
Consider a DataFrame df where there is an integer column 'X'
    
    import pandas as pd
    df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [7]:
import numpy as np
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
s = df['X']
x = (s != 0).cumsum()
y = x != x.shift()
df['Y'] = y.groupby((y != y.shift()).cumsum()).cumsum()
df

   X    Y
0  7  1.0
1  2  2.0
2  0  0.0
3  3  1.0
4  4  2.0
5  2  3.0
6  5  4.0
7  0  0.0
8  3  1.0
9  4  2.0

Q.3 Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
random numbers.

In [10]:
import numpy as np
import pandas as pd
dates = pd.date_range('1/1/2015', freq='B', periods=261)
df = pd.DataFrame(np.random.randn(261,1), index=dates)
df

                   0
2015-01-01 -0.734095
2015-01-02 -0.339445
2015-01-05 -1.168645
2015-01-06  0.639234
2015-01-07  2.355354
...              ...
2015-12-25 -0.679035
2015-12-28 -2.069455
2015-12-29  0.593335
2015-12-30 -2.158611
2015-12-31  1.600106

[261 rows x 1 columns]

Q.4